<!-- Directives -->
<!-- Binding -->
<div class="main">
  <div class="list">
    <div class="item" *ngFor="let category of categories">
      <div class="category__name">
        <p>{{category.name}}</p>
      </div>
      <button
        class="category__button"
        [routerLink]="'/categories/' + category.url"
        style="background-image: url({{category.image}});"
      >
      </button>      
    </div>
  </div>
  <app-category-dishes
    [dishes]="filtredDishes"
  ></app-category-dishes>
</div>

