<div class="container">
  <div class="item" *ngFor="let dish of dishes">
    <div class="dish">
        <img class="dish__image" [src]="dish.image">
        <div class="dish__name">{{dish.name}}</div>
        <div class="dish__price">{{dish.price}}</div>
        <button
          class="dish__btn"
          
          (click)="selectDish(dish)"
        >Add</button>
    </div>
  </div>
</div>
<div *ngIf="displayStatus && selectedDish">
  <app-dialog-selected-dish [selectedDishLink]="selectedDish" (dialogButton)="onPress($event)"></app-dialog-selected-dish>
</div>

