<div
  class="dialog__bacground"
  [class.hideStyle]= "isHide"
  (click)="hideDialog()"
  >
</div>
<div
  class="dialog"
  [class.hideStyle]= "isHide"
  >
  <div class="dialog__container" tabindex="-1">
    <div class="dialog__block">
      <div class="dialog__dish">
        <img class="dialog__dish__image" [src]="selectedDish.image">
        <div class="dialog__dish__name">{{selectedDish.name}}</div>
        <div class="dialog__dish__price">{{selectedDish.price}}</div>
        <app-counter [(count)]="selectedDish.count"></app-counter>
        <div class="dialog__btn__container">
          <button
            class="dialog__btn"
            (click)="hideDialog()"
          >Cancel</button>
          <button
            class="dialog__btn"
            (click)="confirm()"
          >Confirm</button>
        </div>
      </div>
    </div>
  </div>
</div>
