.footer {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  background: #2c2c2c;
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
  width: 100%;
  height: 100px;
  position: absolute;
  bottom: 0px;
  left: 0px;


  &__basket {
    margin:12px 0px 0px 24px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;

    &-value{
      width: 56px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-weight: bold;
      font-size: 56px;
    }

    &-container{
      display: flex;
      cursor: pointer;
      background-color: #2c2c2c;

      &:hover{
        color: #0075ff;
      }
    }
  }

  &__total_price{
    margin: 12px 24px 0px 0px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    color: white;

    &-content{
      font-weight: bold;
      font-size: 32px;
      color: white;
    }
  }
}
