<div class="footer">
  <div class="footer__basket">
    <div class="footer__basket-container" (click)="showBasket()"> 
      <p><i class="fas fa-shopping-basket fa-4x"></i></p>
      <div class="footer__basket-value">
        <div class="">:</div>
        <div class="">
          {{data.value}}
        </div>
      </div>
    </div>
  </div>
  <div class="footer__total_price">
    <div class="footer__total_price-content"> Price: {{data.sum}}</div>
    <i class="fas fa-hryvnia fa-2x"></i>
  </div>
</div>
<div *ngIf="isVisibleBasket">
  <app-basket
    (sendVisibilityStatus)="showBasket($event)"
    
  ></app-basket>
</div>
