<div class="test">
  <div class="auth">
    <div>
      <form [formGroup]="loginForm" novalidate class="auth__block">
        <input
          formControlName="login"
          type="email"
          placeholder="Login"
          required
          class="auth__input"
        >
        <input
          formControlName="password"
          type="password"
          placeholder="Password"
          required
          class="auth__input"
        >
        <button
          class="auth__btn"
          type="submit"
          (click)="takeUserData()"
        >Log in</button>
      </form>
    </div>
  </div>
</div>
